body{
    background-color: rgb(255, 255, 65);
    color: rgb(45, 146, 247);
}
h2 {
    padding: 8px;
}
h1, h3{
   padding: auto;
   text-align: center;
}

.list {
    padding: 20px;
    margin-top: 0;
    display: inline-block;
}

.header {
    background-color: rgb(211, 208, 208);
    width: 75%;
    margin: 0 auto;
    height: auto;
}
.page {
    padding: 50px;
}
.mt-1 {
    padding: 30px;
    width: 50%;
    background-color: snow;
}

.headline {
    padding: 20px;
}
.left {
    float: left;
    width: 100%;

}
.right-side {
    margin-left: 80px;
    padding: 30px;

}
.right {
    float: right;
    width: 50%;
    margin-top: -1040px;
    margin-left: auto;
}

footer {
    background-color: rgb(45, 146, 247);
    height: 230px;
    margin-top: 1000px;
    color: snow;
}
.title ul li a{
    color: snow;
}
.footer-copyright{
    color: snow;
}